[Desktop Entry]
Name=4-Rand
Generic Name=4-digit Random Number Generator
Comment=Generate 4-digit random numbers using John von Neumann's middle square method
Categories=Utility;Education;
Exec=com.github.ibraheem-moosa.vala-random-number
Icon=application-default-icon
Terminal=false
Type=application
X-GNOME-Gettext-Domain=random-number
Keywords=Random;Number;Neumann
